<%- include('partials/header'); %>

<%- include('partials/nav'); %>
<div class="content__container">
    <main>
        <section>
            <div class="porqueadoptar">
                <h1>Sobre nosotros</h1>
                <div class="porqueadoptar-p1">
                    <p>¡Bienvenido a nuestra comunidad dedicada a hacer una diferencia en la vida de los perros!
                        En
                        Lomitos Felices, nos apasiona conectar perros adorables con familias amorosas,
                        trabajar arduamente para mejorar la calidad de vida de los perros en refugios y brindar
                        apoyo a aquellos que buscan a sus fieles amigos peludos perdidos. Estamos comprometidos
                        en
                        hacer del mundo un lugar mejor para nuestros leales compañeros caninos.</p>
                </div>
                <h2>¿Como ayudamos a las mascotas?</h2>
                <div class="porqueadoptar-p2">
                    Adopción de perros:

                    La adopción es una de las formas más gratificantes de agregar un nuevo miembro a tu familia.
                    En
                    nuestro sitio web, encontrarás una amplia variedad de perros disponibles para adopción.
                    Trabajamos con refugios y organizaciones de rescate para brindarte la oportunidad de
                    encontrar
                    el perro perfecto que se ajuste a tu estilo de vida y preferencias. Cada perro que aparece
                    en
                    nuestro sitio ha sido evaluado y se encuentra listo para encontrar un hogar amoroso. Al
                    adoptar,
                    no solo le das a un perro una segunda oportunidad, sino que también experimentas la alegría
                    inigualable de tener un compañero fiel a tu lado. <br><br>

                    Donativos:

                    Sabemos que hay muchas formas de ayudar a los perros necesitados, y los donativos desempeñan
                    un
                    papel fundamental en nuestro trabajo. Aceptamos donativos económicos que nos permiten cubrir
                    los
                    gastos de atención médica, alimentación y albergue de los perros en refugios. También
                    apreciamos
                    donativos de materiales, como alimentos para perros, camas, correas, juguetes y otros
                    suministros esenciales para los refugios de perros. Cada donativo, grande o pequeño, marca
                    la
                    diferencia en la vida de un perro y nos ayuda a continuar nuestra labor en pro del bienestar
                    canino.<br><br>

                    Recuperación de perros perdidos:

                    Entendemos el dolor y la preocupación que se siente cuando un perro se extravía. Nuestro
                    equipo
                    está aquí para apoyarte en la búsqueda y reunificación con tu querido compañero peludo.
                    Ofrecemos recursos, consejos prácticos y asistencia personalizada para ayudarte a maximizar
                    tus
                    posibilidades de encontrar a tu perro perdido. Utilizamos redes sociales, carteles, búsqueda
                    en
                    línea y otros métodos efectivos para ampliar la difusión y aumentar las posibilidades de
                    éxito.
                    Estamos comprometidos en reunir a las familias con sus perros y creemos en la importancia de
                    esos vínculos únicos.<br><br>

                    Nuestro equipo está formado por amantes de los perros, voluntarios y defensores de los
                    derechos
                    animales. Nos motiva la creencia de que cada perro merece un hogar amoroso y seguro. Siempre
                    estamos en constante búsqueda de oportunidades para mejorar y ampliar nuestra labor. Juntos,
                    podemos hacer una diferencia significativa en la vida de los perros y construir una
                    comunidad
                    que valore y proteja a nuestros fieles amigos.<br><br>

                    ¡Gracias por visitar Lomitos Felices y ser parte de nuestro viaje hacia un mundo mejor
                    para los perros!
                </div>
            </div>
    </main>
    </section>

    <section class="refugios">
        <div class="refugios__container">
            <div class="refugios__container-img">
                <img src="../content_edit/img/section4/casaperro.png" alt="Casa de Perro en 3D"
                    class="refugio__container-img-mobile">
                <img src="../content_edit/img/section4/casaperrodesktop.png" alt="Casa de Perro en 3D"
                    class="refugios__container-img-desktop">

            </div>
            <div class="refugios__container-text">
                <h2>Con tu Donación ayudas a un Lomito</h2>
                <p>Con tu donativo no solo ayudas a un perro sino a todos los que viven en el Santuario.
                    Nos gustaría que formaras parte de este milagro de verlos luchar, recuperarse y aprender de
                    las lecciones diarias que nos enseñan, diciendo Sí a la vida a pesar de todo.
                    Dentro de los detalles de cada refugio puedes encontrar el numero de cuenta y la forma en la
                    que buscas realizar tu donativo.</p>
                <a href="./refugiomenu.html">
                    <div class="btn">
                        <img src="../content_edit/img/icons/pata_btn.png" alt="Icono pata de perro">
                        <h4>Quiero Donar</h4>
                    </div>
                </a>
            </div>

        </div>
        <div class="refugios__box">

            <div class="refugios__card">
                <h3>Milagros Caninos</h3>
                <p>Nos dedicamos al cuidado y rehabilitación de perros con cáncer, sin patas, ciegos, sordos,
                    quemados, torturados, paralíticos, violados, y drogados, entre otras condiciones, ayudados
                    apadrinando a un perro.</p>
                <h5>Ubicacion</h5>
                <img src="../content_edit/img/section4/mapa.png" alt="Mapa de ubicacion del refugio" class="mapita">
            </div>
            <div class="refugios__card -statusmobile">
                <h3>Milagros Caninos</h3>
                <p>Nos dedicamos al cuidado y rehabilitación de perros con cáncer, sin patas, ciegos, sordos,
                    quemados, torturados, paralíticos, violados, y drogados, entre otras condiciones, ayudados
                    apadrinando a un perro.</p>
                <h5>Ubicacion</h5>
                <img src="../content_edit/img/section4/mapa.png" alt="Mapa de ubicacion del refugio" class="mapita">
            </div>
            <div class="refugios__card -statusmobile">
                <h3>Milagros Caninos</h3>
                <p>Nos dedicamos al cuidado y rehabilitación de perros con cáncer, sin patas, ciegos, sordos,
                    quemados, torturados, paralíticos, violados, y drogados, entre otras condiciones, ayudados
                    apadrinando a un perro.</p>
                <h5>Ubicacion</h5>
                <img src="../content_edit/img/section4/mapa.png" alt="Mapa de ubicacion del refugio" class="mapita">
            </div>
            <div class="refugios__card -statusmobile statustablet">
                <h3>Milagros Caninos</h3>
                <p>Nos dedicamos al cuidado y rehabilitación de perros con cáncer, sin patas, ciegos, sordos,
                    quemados, torturados, paralíticos, violados, y drogados, entre otras condiciones, ayudados
                    apadrinando a un perro.</p>
                <h5>Ubicacion</h5>
                <img src="../content_edit/img/section4/mapa.png" alt="Mapa de ubicacion del refugio" class="mapita">
            </div>

        </div>
    </section>
</div>

 <%- include('partials/footer'); %>