<footer class="footer">
    <div class="footer__logo">
        <img src="../content_edit/img/footer/logo_footer.png" alt="Logo Lomitos Felices" class="footer__logo">
    </div>
    <div class="footer__redes-sociales">
        <img src="../content_edit/img/footer/facebook.png"
            alt="Icono para acceder a redes sociales de lomitos felices en Facebook" class="icons-social">
        <img src="../content_edit/img/footer/instagram.png"
            alt="Icono para acceder a redes sociales de lomitos felices en Instagram" class="icons-social">
        <img src="../content_edit/img/footer/tw.png"
            alt="Icono para acceder a redes sociales de lomitos felices en Twitter" class="icons-social">
    </div>
    <nav class="footer__menu">
        <ul>
            <li><a href="./adopcionmenu.html">Adopcion</a></li>
            <li><a href="./porqueadoptar.html">¿Porque Adoptar?</a></li>
            <li><a href="./refugiocard.html">Quiero Ayudar</a></li>
            <li><a href="./regusers.html">Registarme</a></li>
            <li><a href="./regrefugio.html">Registarar mi refugio</a></li>
            <li><a href="./sobrenosotros.html">Sobre Nosotros</a></li>
        </ul>
    </nav>
    <div class="footer__legales">
       Copyright © 2023 Lomitos Felices, Todos los derechos reservados.
    </div>
</footer>
</body>

</html>